body {
  margin: 0;
  overflow: hidden;
color: red;
}

#matrix {
  z-index: -1; /* Поместить canvas под текст */
  position: fixed; /* Фиксируем canvas на экране */
  top: 0;
  left: 0;
}

img {
  position: static; /* Отменить позиционирование изображений */
}

h1 {
  color: #00FF00;
}

p {
  color: rgb(0,0,255);
}